extends layout

block content
  h1 Upcoming Rocket Launches
  form(action='/', method='POST')
    p
      | Showing 
      input(type='number', name='numberOfLaunches', min=1, max=100, step=1, value=count, title="How many future launches to display?", alt="How many future launches to display?")
      |  Upcoming Launches  
      input(type='submit', value='Update')
  table#launchTable
    tbody  
      tr
        th Rocket Name
        th Launch Agency
        th Launch Location
        th Time of Launch   
      each launch in launches
        tr 
          td 
            a(href=launch.rocket.wikiURL) !{launch.rocket.name}
          td 
            a(href=launch.agencyWiki) !{launch.agency}
          td !{launch.location.name}
          td !{launch.windowstart}
