body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#launchTable {
  border: 1px solid black;
  width: 100%;
}

#launchTable th {
  background-color: whitesmoke;
  padding: 1em;
  text-align: left;
  border: 1px solid black;
  padding: 1em;
}

#launchTable td {
  border: 1px solid black;
}